.MainToolbar{
    flex-direction: row;
    justify-content: space-between;
}

.MainToolbarLeftSide{
    flex-direction: row;
}

.MainToolbarRightSide{
    flex-direction: row;
    justify-content: flex-end;
}
.MainToolbarButton{
    width: 24px;
}

.MainToolbarMenu{
    width: 34px;
}

.MainToolbarAddReportButtonIcon{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
