.MainToolbarCollapseLeftPaneButtonIcon{
    width: 16px;
    height: 16px;
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/Button_LeftPanel_LightTheme.png');
}

.MainToolbarCollapseRightPaneButtonIcon{
    width: 16px;
    height: 16px;
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/Button_RightPanel_LightTheme.png');
}
