.ReportsListItemContainer{
    flex-direction: row;
    justify-content: space-between;
}

.ReportsListItemContainerLefthandElements {
    flex-direction: row;
}

.ReportsListItemContainerRighthandElements {
    justify-content: flex-end;
    flex-direction: row;
}

.ReportsListItemBuildTimestamp {
    margin-left: 10px;
}

.ReportsListItemBuildDuration {
    margin-left: 5px;
}

.ReportsListItemBuildStatus {
    flex-shrink: 0;
    margin-left: 5px;
}

.ReportsListItemPlatformIcon {
    height: 16px;
    width: 16px;
    flex-shrink: 0;
    margin-left: 5px;
}

.ReportsListItemPlatformIcon.NoIcon {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/NoIconIcon.png');
}

.ReportsListItemPlatformIcon.Android {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/PlatformAndroidIcon.png');
}

.ReportsListItemPlatformIcon.StandaloneOSX {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/PlatformStandaloneOSXIcon.png');
}

.ReportsListItemPlatformIcon.StandaloneWindows {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/PlatformStandaloneWindowsIcon.png');
}

.ReportsListItemPlatformIcon.iOS {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/PlatformiOSIcon.png');
}

.ReportsListItemPlatformIcon.StandaloneLinux64 {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/PlatformStandaloneLinux64Icon.png');
}

.ReportsListItemPlatformIcon.WebGL {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/PlatformWebGLIcon.png');
}

.ReportsListItemPlatformIcon.WSAPlayer {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/PlatformWSAPlayerIcon.png');
}

.ReportsListItemPlatformIcon.PS4 {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/PlatformPS4Icon.png');
}

.ReportsListItemPlatformIcon.XboxOne {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/PlatformXboxOneIcon.png');
}

.ReportsListItemPlatformIcon.tvOS {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/PlatformtvOSIcon.png');
}

.ReportsListItemPlatformIcon.Switch {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/PlatformSwitchIcon.png');
}

.ReportsListItemPlatformIcon.Lumin {
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/PlatformLuminIcon.png');
}
