.TreeViewNavigableItem {
    flex-direction: row;
}

.TreeViewNavigableItemButton{
    height: 16px;
    width: 16px;
    flex-shrink: 0;
    margin-right: 4px;
    background-image: resource('Packages/com.unity.addressables/Editor/BuildReportVisualizer/BuildReport Resources/Icons/d_icon dropdown@2x.png');
}

.TreeViewNavigableItemStatus{
}

.TreeViewNavigableItemStatus.Warning{
    height: 16px;
    width: 16px;
    flex-shrink: 0;
    margin-right: 4px;
}
